In [2]:
import numpy as np
import pandas as pd

data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [3]:
data.columns = data.columns.str.lower().str.replace(' ', '_')

In [6]:
data.head()

   index   age     salary  rating       location  established easy_apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [ ]:
data.isna().sum()

AGE

In [8]:
avg = data.age.mean()
data.age = data.age.fillna(avg).round(decimals=1)
data.age = data.age.astype(int)

SALARY

In [9]:
data.salary = data.salary.str.replace('k', '000')
data.salary = data.salary.str.replace('$', ' ')
data.salary

<ipython-input-9-2952f4e61bf9>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data.salary = data.salary.str.replace('$', ' ')

0       44000- 99000
1       55000- 66000
2       77000- 89000
3       44000- 99000
4       44000- 99000
5       77000- 89000
6       44000- 99000
7       44000- 99000
8       44000- 99000
9       44000- 99000
10      10000- 49000
11      10000- 49000
12      44000- 99000
13      44000- 99000
14      44000- 99000
15     88000- 101000
16      19000- 40000
17      44000- 99000
18      44000- 99000
19      44000- 99000
20      44000- 99000
21      44000- 99000
22      55000- 66000
23      44000- 99000
24      44000- 99000
25      44000- 99000
26      55000- 66000
27      44000- 99000
28      39000- 88000
Name: salary, dtype: object

RATING

In [11]:
avg = data.rating.mean()
data.rating = data.rating.replace(-1, np.nan)
data.rating = data.rating.fillna(avg).round(decimals=1)
data.rating

0     5.4
1     3.5
2     3.5
3     4.4
4     6.4
5     1.4
6     0.0
7     3.5
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    3.5
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    3.5
25    0.0
26    3.5
27    5.4
28    3.4
Name: rating, dtype: float64

LOCATION

In [13]:
data['location'] = data['location'].str.replace('Australia Aus' , 'Australia, Aus')
data.location = data.location.str.replace("India In", "India, In")
data.location

0           India,In
1        New York,Ny
2        New York,Ny
3          India, In
4     Australia, Aus
5           India,In
6        New York,Ny
7     Australia, Aus
8        New York,Ny
9           India,In
10          India,In
11          India,In
12          India,In
13    Australia, Aus
14    Australia, Aus
15    Australia, Aus
16          India,In
17       New York,Ny
18       New York,Ny
19       New York,Ny
20       New York,Ny
21       New York,Ny
22       New York,Ny
23       New York,Ny
24       New York,Ny
25    Australia, Aus
26          India,In
27          India,In
28    Australia, Aus
Name: location, dtype: object

ESTABLISHED

In [14]:
data.established = data.established.replace(-1, np.nan)
data.established.fillna('Unknown', inplace = True)
data.established

0      1999.0
1      2002.0
2     Unknown
3      1988.0
4      2002.0
5      1999.0
6     Unknown
7     Unknown
8     Unknown
9     Unknown
10     2008.0
11     2009.0
12     1999.0
13     2019.0
14     2020.0
15     1999.0
16     1984.0
17     1943.0
18     1954.0
19     1955.0
20     1944.0
21     1946.0
22     1988.0
23     1999.0
24     1987.0
25     1980.0
26     1934.0
27     1935.0
28     1932.0
Name: established, dtype: object

EASY APPLY

In [16]:
data.easy_apply = data.easy_apply.str.replace('-1', 'TRUE')
data.easy_apply

0     TRUE
1     TRUE
2     TRUE
3     TRUE
4     TRUE
5     TRUE
6     TRUE
7     TRUE
8     TRUE
9     TRUE
10    TRUE
11    TRUE
12    TRUE
13    TRUE
14    TRUE
15    TRUE
16    TRUE
17    TRUE
18    TRUE
19    TRUE
20    TRUE
21    TRUE
22    TRUE
23    TRUE
24    TRUE
25    TRUE
26    TRUE
27    TRUE
28    TRUE
Name: easy_apply, dtype: object

In [17]:
data.head()

   index  age         salary  rating        location established easy_apply
0      0   44   44000- 99000     5.4        India,In      1999.0       TRUE
1      1   66   55000- 66000     3.5     New York,Ny      2002.0       TRUE
2      2   39   77000- 89000     3.5     New York,Ny     Unknown       TRUE
3      3   64   44000- 99000     4.4       India, In      1988.0       TRUE
4      4   25   44000- 99000     6.4  Australia, Aus      2002.0       TRUE